@import "../vars/form.css";
@import "../vars/global/transparent.css";


#form {
    display: flex;
    width: 100vw;
    margin-top: 18.2vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#form__google-logo {
    font-size: 90px;
    margin: 0;
    font-weight: 100;
    font-family: sans-serif;
    cursor: default;
}



#form__input {
    display: flex;
    border: 1px double #595959;
    border-radius: 25px;
    width: 590px;
    height: 47px;
    margin-top: 28px;
    justify-content: center;
    align-items: center;
}
#form__input:hover,
#form__input:focus-within {
    border-color: var(--selected-border-color);
    background-color: var(--selected-border-color);
}


.form__input-mag-glass-img {
    background-color: var(--transparent-color);
    height: 15px;
    margin-right: 15px;
}

.form__input-entry {
    border-color: var(--transparent-color);
    background-color: var(--transparent-color);
    margin-right: 10px;
    width: 450px;
}
.form__input-entry:focus {
    outline: 0;
}

.form__input-mic {
    background-color: var(--transparent-color);
}
.form__input-mic-img {
    background-color: var(--transparent-color);
    height: var(--img-size);
    margin-right: 20px;
    margin-top: 5px;
}
.form__input-mic-desc,
.form__input-camera-desc {
    position: absolute;
    font-size: 11px;
    font-weight: 700;
    margin: 12px 0 0 -45px;
    background-color: var(--input-desc-bg-color);
    border: 7px solid var(--input-desc-bg-color);
    outline: 1px solid #5b5b5b;
    color: #a9a9a9;
    visibility: hidden;
}
.form__input-mic:hover .form__input-mic-desc,
.form__input-camera:hover .form__input-camera-desc {
    transition: visibility;
    transition-duration: 0;
    transition-delay: 0.2s;
    visibility: visible;
}

.form__input-camera {
    background-color: var(--transparent-color);
    margin-top: 5px;
}
.form__input-camera-img {
    background-color: var(--transparent-color);
    height: var(--img-size);
}


#form__search-way {
    margin-top: 29px;
}
.form__search-way-opt {
    font-size: 14px;
    background-color: var(--search-way-bg);
    border-radius: 5px;
    border: 1px solid var(--search-way-bg);
    margin: 0 3px;
    padding: 10px 17px;
}
.form__search-way-opt:hover {
    border-color: #676767;
    cursor: pointer;
}