@import "../vars/header.css";
@import "../vars/global/transparent.css";


#top-nav {
    display: flex;
    justify-content: right;
    height: 60px;
    font-size: 12.5px;
}


#top-nav__links {
    margin: auto 0;
}
.top-nav__item {
    margin: auto 0;
    margin-right: 12px;
    text-decoration: none;
}
.top-nav__item:hover {
    text-decoration: underline;
}


#top-nav__menus {
    display: flex;
    margin: auto 0;
    margin-left: 8px;
}


#top-nav__menu-apps,
.top-nav__menu-apps-button,
#top-nav__menu-profile,
.top-nav__menu-profile-button {
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
}
.top-nav__menu-apps-button,
.top-nav__menu-profile-button {
    border: none;
}

#top-nav__menu-apps:focus-within .top-nav__menu-apps-desc,
#top-nav__menu-profile:focus-within .top-nav__menu-profile-desc,
#top-nav__menu-profile:focus-within .top-nav__menu-profile-desc-info{
    visibility: hidden;
}
#top-nav__menu-apps:focus-within #menu-apps,
.top-nav__menu-apps-button:focus #menu-apps,
#top-nav__menu-profile:focus-within #menu-profile,
.top-nav__menu-profile-button:focus #menu-profile{
    visibility: visible;
}
.top-nav__menu-apps-button:hover,
.top-nav__menu-profile-button:hover {
    border-radius: 20px;
    box-shadow: 0 0 0 1px var(--shadow-color);
    background-color: var(--shadow-color);
    cursor: pointer;
}

.top-nav__menu-apps-img {
    background-color: var(--transparent-color);
    height: 16px;
}
.top-nav__menu-apps-desc {
    position: absolute;
    margin-top: 70px;
    background-color: var(--desc-bg-color);
    font-size: 12px;
    font-family: Arial;
    letter-spacing: 1px;
    border: 5px solid var(--desc-bg-color); 
    border-radius: 5px;
    visibility: hidden;
}
.top-nav__menu-apps-button:hover .top-nav__menu-apps-desc,
#top-nav__menu-profile-button:hover .top-nav__menu-profile-desc{
    transition: visibility;
    transition-duration: 0;
    transition-delay: var(--desc-show-delay);
    visibility: visible;
}

.top-nav__menu-space {
    margin-right: 5px;
}


.top-nav__menu-profile-img {
    background-color: var(--transparent-color);
    height: 35px;
}
.top-nav__menu-profile-desc {
    position: absolute;
    background-color: var(--desc-bg-color);
    font-size: 11.8px;
    font-family: Arial;
    letter-spacing: 0.9px;
    line-height: 1.2;
    border: 5px solid var(--desc-bg-color); 
    border-radius: 5px;
    width: max-content;
    box-sizing: content-box;
    top: 55px;
    right: 10px;
    text-align: left;
    visibility: hidden;
}
.top-nav__menu-profile-desc p {
    background-color: var(--transparent-color);
}
.top-nav__menu-profile-desc-info {
    color: #ababab;
}


.top-nav__margin-right {
    margin-right: 15px;
}