* {
    color: #ffffff;
    background-color: #291f1f;
    font-family: Arial;
}

/*a, li, h4 {
    display: inline;
}*/

a {
    color: #9a9a9a; 
}

.div {
    width: 100vw;
}

.topNavCfg {
    right: 0
   /*float: right;*/
}

.topNavOption {
    font-size: 15px;
    line-height: 4;
    color: #ffffff;
    margin-left: 30px
}

.googleLogo {
    text-align: center;
    margin: auto;
}