.form-flex-container {
    display: flex;
    width: 100vw;
    margin-top: 19vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form__googleLogo {
    font-size: 90px;
    margin: 0vh 0vw;
    font-weight: 100;
    font-family: sans-serif;
}

.form__input {
    border-color: #595959;
    border-radius: 25px;
    border-style: double;
    border-width: 1px;
    width: 30%;
    padding-left: 2vw;
    height: 4.7vh;
    margin-top: 28px;
}
.form__input-img {
    position: absolute;
    margin: 65px 0 0 0;
}
:root { --img-size: 20px; }
.form__input-img-mag-glass {
    height: 15px;
    margin-right: 460px;
}
.form__input-img-mic {
    height: var(--img-size);
    margin-right: 10px;
}
.form__input-img-camera {
    height: var(--img-size);
}

.form__button-container {
    margin-top: 30px;
}
.form__button {
    background-color: #383838;
    border-radius: 5px;
    border-style: none;
    margin: 0 6px;
    padding: 10px;
}