.top-nav {
    display: flex;
    justify-content: right;
    height: 60px;
    font-size: 12.5px;
}


.top-nav__links {
    margin: auto 0;
}
.top-nav__item {
    margin: auto 0;
    margin-right: 12px;
    text-decoration: none;
}
.top-nav__item:hover {
    text-decoration: underline;
}


.top-nav__menu {
    display: flex;
    margin: auto 0;
    margin-left: 8px;
}
.top-nav__img {
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
}
:root { --shadow-color: #353535 }
.top-nav__img:hover {
    border-radius: 20px;
    box-shadow: 0 0 0 1px var(--shadow-color);
    background-color: var(--shadow-color);
    height: 40px;
    width: 40px;
}
.top-nav__img-options {
    background-color: #0000; /*Necessary to make transparent image parts make detected as transparent by browser (rgbA).*/
    height: 16px;
}
.top-nav__img-space {
    margin-right: 5px;
}
.top-nav__img-profile {
    background-color: #0000; /*Necessary to make transparent image parts make detected as transparent by browser (rgbA).*/
    height: 35px;
}
.top-nav__margin-right {
    margin-right: 15px;
}