
:root { /* helpers */ 
    --transparent-color: #0000;
}

:root { /* global */
    --bg-color: #222226;
}

/* menus */
    :root { /* apps */
        --apps-bg-color: #343434;
    }

    :root { /* profile */
        --prof-border-radius: 30px;
        --prof-bg-color: #3a3a3a;
        --prof-opt-space: 9px;
        --prof-txt-color: #e7e7e7;
    }

:root { /* header */
    --header-shadow-color: #353535;
    --header-desc-bg-color: #494949;
}

:root { /* footer */
    --footer-text-color: #a9a9a9;
    --footer-background-color: #161616;
    --footer-opt-separator-size: 26px;
}