* {
    color: #ffffff;
    background-color: #291f1f;
    font-family: Arial;
}


.topNav {
    display: flex;
    justify-content: right;
    height: 5vh;
    font-size: 14px;
    
}

.topNavItem {
    display: inline;
    line-height: 3.2;
    padding: 10px;
    text-decoration: none;
}


.browser {
    display: flex;
    width: 100vw;
    margin-top: 20vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.googleLogo {
    font-size: 120px;
    margin: 0vh 0vw;
}

.browserInput {
    display: inline;
}