* {
    color: #ffffff;
    background-color: #222226;
    font-family: Arial;
}

html {
    height: 100%;
}
  
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
footer {
    margin-top: auto;
}