:root { 
    --footer-text-color: #a9a9a9;
    --footer-background-color: #161616;
    --footer-opt-separator-size: 26px;
}


.footer__connected-from {
    font-size: 15px;
    line-height: 3;
    color: var(--footer-text-color);
    background-color: var(--footer-background-color);
    padding-left: 30px;
    width: 100vw;
}


.footer__contact {
    font-size: 14px;
    display: flex;
    margin-top: 2px;
    padding-left: 35px;
    background-color: var(--footer-background-color);
    line-height: 3.3;
}
.footer__contact-left {
    background-color: var(--footer-background-color);
}
.footer__contact-left-opt {
    padding-right: var(--footer-opt-separator-size);
    text-decoration: none;
    color: var(--footer-text-color);
    background-color: var(--footer-background-color);
}
.footer__contact-left-opt:hover {
    text-decoration: underline;
}
.footer__contact-right {
    text-decoration: none;
    justify-content: right;
    margin-left: auto;
    background-color: var(--footer-background-color);
}
.footer__contact-right-opt {
    text-decoration: none;
    background-color: var(--footer-background-color);
    color: var(--footer-text-color);
    padding-left: var(--footer-opt-separator-size);
}
.footer__contact-right-opt:hover {
    text-decoration: underline;
}