#menu-preferences {
    position: absolute;
    right: 30px;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    background-color: var(--transparent-color);
    visibility: hidden;
}
.menu-preferences__opt,
.menu-preferences__theme {
    line-height: 2.2;
    text-align: left;
    color: #d4d4d4;
    text-decoration: none;
}
.menu-preferences__separator {
    width: 100%;
    height: 1px;
    background-color: var(--bg-color);
    margin: 5px 0;
}
.menu-preferences__theme {
    background-color: var(--transparent-color);
}
.menu-preferences__theme:hover .menu-preferences__theme-img {
    visibility: visible;
}

.menu-preferences__theme-img {
    height: 16px;
    visibility: hidden;
    margin-left: 6px;
}